@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Mono&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #e6e6e6;
}

iframe {
  width: 100%;
  padding: .5rem 0;
}

iframe.youtube {
  min-height: 20rem;
}

:root {
  overflow-y: scroll;
  scrollbar-color:  #4b4b4b #191919;
}

::-webkit-scrollbar {
  width: 0.45rem;
  height: 0.45rem;
  background-color: #191919;
}

::-webkit-scrollbar-thumb {
  width: 0.45rem;
  background-color: #4b4b4b;
}

::-webkit-scrollbar-thumb:hover {
  width: 0.45rem;
  background-color: #5b5b5b;
}

::selection {
  background: #191919;
  color: #e6e6e6;
}
